html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
background: #F8F8F8;
font-size: 12px;
}
a:link, a:visited {
color: #77BACE;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
.clear {
clear: both;
}

.nav {
	padding-top:14px;
	margin:0 3%;
	width: 95%;
}
 

.width_full {
width: 40%;
}
.module {
border: 1px solid #9BA0AF;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
overflow:hidden
}

.module_content {
padding: 10px 20px;
color: #666;
overflow:hidden
}
.tablesorter {
width: 100%;
}

.tablesorter td{
margin: 0;
padding: 0;
border-bottom: 1px dotted #ccc;
}

.tablesorter thead tr {
height: 34px;
text-align: left;
text-indent: 10px;
cursor: pointer;
}

.tablesorter td {
padding:5px 10px;
}

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1% 0%;
margin: 10px 0;
}
fieldset label {
display: block;
float: left;
width: 100px;
height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

fieldset select {
width: 40%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}


fieldset input{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
padding:2px 5px;
display: block;
float: left;
width: 40%;
margin: 0 10px 5px;
}
a.button {
	display:inline-block;
    position: relative;
    height: 25px;
    width: 80px;
    margin: 0 10px 18px 0;
    
    text-decoration: none;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
	
  }

  a.green,
  a.green:hover,
  a.green:visited {
    color: #5d7731;
    background: #cae285;
 
  }
